<span class="right-hoof">
  <svg width=".14585in" height=".13544in" version="1.1" viewBox="0 0 14 13" xmlns="http://www.w3.org/2000/svg">
   <path id="hoof" d="m-0.06 3.44c4.5-0.28 8.06-3.47 11.19-2.91 3.31 0.78 1.48 9.01-0.44 10.03-2 1.63-7.53 2.03-10.72 2.1-0.57-0.42-0.51-8.18-0.03-9.22z" fill="#afb4bd" stroke="#969ba6"/>
  </svg>
</span>
